
.MyTextarea {
    display: flex;
    gap: 0.5rem;
    min-height: 44px;
    align-items: flex-end;
}

.inputWrapper {
    flex-grow: 1;
    position: relative;
    min-height: 32px;
    max-height: 200px;
    /* overflow-y: auto; */
    /* scrollbar-width: thin; */
}

.input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: inherit;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-y: hidden;
    min-height: 32px;
    max-height: 200px;
    overflow-y: scroll !important;
}

.sendButton {
    color: white;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    min-width: 28px;
    height: 28px;
    display: flex;
    cursor: pointer;
    font-size: 1rem;
    background-color: #3367d6;
    transition: background-color 0.2s;
    flex-shrink: 0;
    margin-bottom: 2px;
}

.sendButton:hover {
    background-color: #5882dc;
}

.inputWrapper::-webkit-scrollbar {
    width: 6px;
}

.inputWrapper::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}