:root {
    --scroll-color: rgba(255, 255, 255, .15);
    --dark-background: rgba(33, 45, 59, 255);
}

.App {
    background-color: var(--dark-background);
    color: white;
}

.scrollable {
    scrollbar-gutter: stable;
    scrollbar-color: var(--scroll-color) transparent;
    transition: scrollbar-color .1s ease-out;
}

.scrollable:focus {
   outline: none;
}

.scrollable:focus-visible {
   outline: none;
}