:root {
    --scroll-color: rgba(255, 255, 255, .15);
    --dark-background: rgba(33, 45, 59, 255);
}

* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.App {
    color: white;
}

button {
    padding: 0;
}

.scrollable {
    scrollbar-gutter: stable;
    scrollbar-color: var(--scroll-color) transparent;
    transition: scrollbar-color .1s ease-out;
}

.scrollable:focus {
   outline: none;
}

.scrollable:focus-visible {
   outline: none;
}