.myBtn {
    padding: 10px;
    border: var(--dark-accent) 2px solid;
    color: var(--dark-accent);
    background-color: #fff;
    width: 100%;
        border-radius: var(--border-radius);
    padding: 4px 15px;
}

.myBtn:hover {
    background-color: var(--dark-accent);
    color: #fff;
}